* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    padding: 20px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d0f0ff;
}
h1{
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}
#guestform{
    display: flex;
    max-width: 500px;
    margin: 20px auto;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
    border: 2px solid ;
    border-radius: 10px;
    padding: 80px;
    background-color: #ffffffaa;
    flex-direction: column;
    align-items: center;
}
#nameinput{
    padding: 10px;
    border: 1px solid ;
    border-radius: 3px;
}
#subbtn{
    padding: 5px;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
}
#guestls {
  list-style: none;
  margin-top: 20px;
  padding: 10px;
}
#guestls li {
  background-color: white;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#guestls li.attending {
  border-left: 6px solid #4CAF50;
  background-color: #e8f5e9;
}
#listGuest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
}

.rsvp-button {
  background-color: #ffc107;
  color: #000;
}

.remove-button {
  background-color: #dc3545;
  color: #fff;
}
